.body {
  background-image: url("berlin_black.webp");
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  margin-top: 5%;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.4807692307692307) 0%, rgba(153,153,153,0.8337928921568627) 33%, rgba(0,0,0,0.7693671218487395) 100%);
  width: 85vw;
  height: 85vh;
  border-radius: 10px;
  display: flex;
  margin-bottom: 5%;
}

.left-scard {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.left-scard h1 {
  font-family: "Honk", system-ui;
  font-size: 100px;
  text-shadow: 2px 2px 10px #000;
}

h3 {
  font-family: "Bungee", sans-serif;
  text-shadow: 1px 1px 10px #fff;
}

.right-scard {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  font-family: "Bungee", sans-serif;
  color: white;
}

form input {
  font-family: Arial, Helvetica, sans-serif;
}

.form-new h1 {
  font-family: "Honk", system-ui;
  font-size: 50px;
  text-shadow: 2px 2px 10px #000;
}

.btn {
  background: rgb(255,255,127);
  background: linear-gradient(180deg,
  rgba(255,255,127,1) 0%, rgba(253,104,77,1) 50%, rgba(251,28,160,1) 100%);
  border-color: #000;
  color: #000;
  box-shadow: 2px 2px 5px #000;
  padding: 10px;
  margin-bottom: 2rem;
  font-family: "Bungee", sans-serif;
  text-shadow: 1px 1px 10px #fff;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  padding-left: 30px;
  padding-right: 30px;
  transition: 1s ease;
  border-radius: 5px;
}

.new-offer h3 {
  color: #000000;
}

.new-booking h3 {
  color: #000000;
}

.index {
  background-image: url("badtaiwan.webp");
  background-color: lightgray;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index h1 {
  font-family: "Honk", system-ui;
  font-size: 70px;
  text-shadow: 2px 2px 10px #000;
}

.cards {
  background: rgb(25,28,31);
  background: linear-gradient(47deg, rgba(25,28,31,1) 42%,
  rgba(179,179,179,1) 100%);
}

.cards-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  padding: 3rem;
}

.internal-card {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0.4807692307692307) 0%,
  rgba(153,153,153,0.8337928921568627) 33%,
  rgba(0,0,0,0.7693671218487395) 100%);
  width: 85vw;
  height: 75%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cards {
  background: rgb(25,28,31);
  background: linear-gradient(47deg, rgba(25,28,31,1) 42%,
  rgba(179,179,179,1) 100%);
}
  
.cards-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-brand {
  font-family: "Honk", system-ui;
}


.cards-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  padding: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  background: rgb(25,28,31);
  background: linear-gradient(47deg, rgba(25,28,31,1) 42%,
  rgba(179,179,179,1) 100%);
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  row-gap: 15px;
  padding: 1rem;
}

.card-model-small {
  background-color: transparent;
  border-radius: 1px solid #626262;
  width: 12rem;
  height: 12rem;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
  rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
  rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border: 1px solid #626262;
}

.card-model {
  background-color: transparent;
  border-radius: 1px solid #626262;
  width: 15rem;
  height: 15rem;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
  rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
  rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border: 1px solid #626262;
}

.card-model:hover {
  background: rgb(253,255,132);
  background: linear-gradient(183deg, rgba(253,255,132,0.6699054621848739) 0%,
  rgba(253,126,74,0.7791491596638656) 33%,
  rgba(251,26,159,0.5662640056022409) 100%);
  width: 18rem;
  height: 17rem;
  border: 2px solid #fff;
  box-shadow: 4px 4px 8px #fff;
  transition: 1s ease;
}

.card-name {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 1px 1px 2px #000;
  padding: 5px;
}


.card-text {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  text-shadow: 1px 1px 2px #000;
  padding: 5px;

.card-name:hover {
  font-family: "Honk", system-ui;
  font-size: 30px;
  text-shadow: 1px 1px #000;
  transition: 0.5s ease;

}

.card-image {
  width: 180px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
}

.card-price {
  text-decoration: none;
  font-family: "Honk", system-ui;
  font-size: 28px;
  padding-left: 117px;
}

.card-model h3 {
  font-size: 25px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-label {
  color:#000000;
}

.form-check-label {
  color: #000000;
}

.form-control{
  height: 35px;
  margin-top: 15px;
}

.logout {
  text-decoration: none;
  color: #898B8D;
}

.logout:hover {
  color: rgb(255, 68, 0);
}

.button-home {
  text-decoration: none;
  color: #fff;
}

// Offers-Show View Starts Here

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: rgb(25,28,31);
  background: linear-gradient(47deg, rgba(25,28,31,1) 42%,
  rgba(179,179,179,1) 100%);
}

.card-show {
  width: 85%;
  height: 85%;
}

.card-show p {
  color: #fff;
}

.show h1 {
  font-family: "Honk", system-ui;
  font-size: 70px;
  text-shadow: 2px 2px 10px #000;
}
