<div class="body">
    <div class="cont">
      <div class="left-scard">
        <h1>BadBnb</h1>
        <h3>a hard experience!</h3>
      </div>
      <div class="right-scard">
        <h3>Book a bad experience!</h3>
        <button class="btn btn-primary"><%= link_to "OMG!", offers_path, class: "button-home" %> </button>
        <h3>Rent your BadBnB!</h3>
        <button class="btn btn-primary"><%= link_to "Try Now!", new_offer_path, class: "button-home" %></button>
      </div>
    </div>
</div>
