<div class="fatherdiv">
  <div class="container">
  <div class="left-side">
    <h1>BadBnB</h1>
    <h3>A hard experience!
    </h3>
  </div>
  <div class="right-side">
     <button type="button" class="btn btn-dark btn-lg shadow">Start now!</button>
  </div>
</div>
</div>
