<div class="show p-5">
  <h1 class="pb-5">Here is where you can find us:</h1>

  <p class="py-2">
    <a href="https://github.com/JCorts1" target="_blank"><i class="fa-brands fa-github"></i></a>
    Jay Cortes
  </p>
  <p class="py-2">
    <a href="https://github.com/sophiernh" target="_blank"><i class="fa-brands fa-github"></i></a>
    Sophie Ranaivoharisoa
  </p>
  <p class="py-2">
    <a href="https://github.com/Lukas-Bertram" target="_blank"><i class="fa-brands fa-github"></i></a>
    Lukas Bertram
  </p>
  <p class="py-2">
    <a href="https://github.com/dariapauli" target="_blank"><i class="fa-brands fa-github"></i></a>
    Rahel Pauli
  </p>
</div>
