<div class="index">
  <div class="internal-card">
    <h1 class="text-dark">These are the ugliest hotels for you</h1>

<ul>
  <% @offers.each do |offer| %>
  <li><%= link_to offer.name, offer_path(offer) %></li>
  <% end %>
</ul>

  </div>

</div>
