<div class="index">
  <div class="banner">
    <h1>Our Horrible Experiences</h1>
  </div>
</div>

<div class="cards">
    <ul class="cards-ul">
      <% @offers.each do |offer| %>
      <li><%= link_to offer.name, offer_path(offer) %></li>
      <% end %>
    </ul>
  </div>
