<div class="index">
  <div class="banner">
    <h1>Our Horrible Experiences</h1>
  </div>
</div>

<div class="cards">
    <ul class="cards-ul">
      <% @offers.each do |offer| %>
      <div class="card-model">
        <li>
          <h3><%= link_to offer.name, offer_path(offer), class: "card-name" %></h3>
          <div>
            <% if offer.photo.attached? %>

            <%= cl_image_tag offer.photo.key, class: "card-image", height: 110,  crop: :fill %>
            <% else %>
            <%= image_tag "train.jpg", alt: "train", width: 200 %>
            <% end %>
          </div>
          <%= link_to offer.price, offer_path(offer), class: "card-price" %>
        </li>
      </div>
      <% end %>
    </ul>
</div>
