
  <h1><%= @offer.name %></h1>
  <p><%= @offer.description %></p>
  <p><%= @offer.availability %></p>
  <%= link_to "Delete",
  offer_path(@offer),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  <button class="btn btn-primary">Update</button>
  <button button class="btn btn-primary">Delete</button>
